.admonitionblock td.icon .icon-note::before {
  content: "\f05a";
  color: #19407c;
}
.admonitionblock td.icon .icon-tip::before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
  color: #111;
}
.admonitionblock td.icon .icon-warning::before {
  content: "\f071";
  color: #bf6900;
}
.admonitionblock td.icon .icon-caution::before {
  content: "\f06d";
  color: #bf3400;
}
.admonitionblock td.icon .icon-important::before {
  content: "\f06a";
  color: #bf0000;
}
li > p {
  margin-bottom: 0.25rem;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin: 1rem 0;
}
th,td,tr {
  border: 1px solid #dee2e6;
}
.td-content .highlight {
  margin: 1rem 0;
}
.imageblock {
  padding-top: 0.75rem;
}
.imageblock > .title {
  padding-bottom: 1rem;
}
td.tableblock > p.tableblock {
  margin-bottom: 0;
}