---

moira_triggers:

{% for service in services %}
{% for app in service.apps %}
{% if app.bs_stat_failed is defined %}
{% for node in app.nodes %}


  - id: "{{ service.name }}.{{node}}.{{ app.name }}.bs_stat_error"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: DB Error Requests"
    targets:
      - "grep(aliasSub(aliasByTags(seriesByTag('Metrics_type=app', 'Node={{ node }}', 'name=~BS_stat.*'),'name'),'BS_stat.(.*)','\\1'),'^Error|^Reject')"
{#      - "alias(groupByTags(scale(summarize(grep(seriesByTag('Metrics_type=app', 'app=Protei_CPE_VO', 'name=CommonInit.CommonInitCount','CommonInitName=total'),'{{ service.nodes|join('|')}}'),'1min','avg'), 0.0166),'sum','CommonInitName'),'{{service.name}}.TPSPerMinute')" #}
{#      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=mysql.innodb_buffer_pool_bytes_data'),'5min'), '{{ node }}.Mysql.Innodb.buffer.bytes')" #}
    expression: "t1 >= {{ app.bs_stat_failed.err }}  ? ERROR : (t1 >= {{ app.bs_stat_failed.warn }}  ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Application: {{ app.name }}.

      Event: Number of failed requests from BS_Oracle to DB reach threshold limit

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: High number of failed requests may indicate problems with connection to DB.
      Description: Number of failed requests to DB has been exceeded the threshold. Error: {{ app.bs_stat_failed.err }}, warning: {{ app.bs_stat_failed.warn }}.
    state: {{ state }}

{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/bs_triggers.tsv"
