---

moira_triggers:

{% for service in services %}
{% if service.checks is defined %}
{% for check in service.checks %}

  - id: "{{ service.name }}.{{check.name}}"
    name: "{{ service.name }}: {{ check.name }}"
    targets:
      - "{{ check.target }}"
    expression: "t1!={{ check.ok }} ? WARN : OK"
    ttl: {{ check.ttl |  default(moira_general_ttl) }}
    ttl_state: {{ check.ttl_state |  default(moira_general_ttl_state) }}
{% if not check.check_event|default(false)%}
    tags:{% if not check.check_critical %} {{ ( moira_service_tag +[service.name] + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ (moira_service_tag + moira_critical_tag + [service.name] + moira_bool_tag) | to_json}}{% endif %}
{% else %}
    tags:{% if not check.check_critical %} {{ ( moira_service_tag +[service.name] + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ (moira_service_tag + moira_critical_tag + [service.name] + moira_event_tag) | to_json}}{% endif %}
{% endif %}

    desc: |
      Service: {{service.name}}.
      Event: {{ check.name }}.
      
      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: {{ check.impact }}
      Description: Trigger ({{ check.name }}) is not equal to ({{ check.ok }}).
    state: {{ state }}


  - id: "{{ service.name }}.{{check.name}}.NoData"
    name: "{{ service.name }}: {{ check.name }}"
    targets:
      - "countSeries({{ check.target }})"
    expression: "OK"
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: {{ moira_nodata_ttl }}
    tags: {{ moira_monitoring_tag | to_json}}
    desc: |
      Service: {{service.name}}.
      Event: {{ check.name }} No Data.
      
      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Monitoring cannot work without data.
      Description: No Data for metric {{ check.target }}.
    state: {{ state }}

{% endfor %} # check
{% endif %} # check
{% endfor %} # service

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/check_triggers.tsv"