---

moira_triggers:

{% for service in services %}
{% for app in service.apps %}
{% if app.cpe_init_rate is defined %}

  - id: "{{ service.name }}.{{ app.name }}.cpe_init_rate"
    name: "{{ service.name }}.{{ app.name }}: CPE Incoming RPS threshold"
    targets:
      - "alias(groupByTags(scale(summarize(grep(seriesByTag('Metrics_type=app', 'app=Protei_CPE_VO', 'name=CommonInit.CommonInitCount','CommonInitName=total'),'{{ service.nodes|join('|')}}'),'1min','avg'), 0.0166),'sum','CommonInitName'),'{{service.name}}.TPSPerMinute')"
{#      - "alias(movingMax(seriesByTag('Node={{ node }}', 'name=mysql.innodb_buffer_pool_bytes_data'),'5min'), '{{ node }}.Mysql.Innodb.buffer.bytes')" #}
    expression: "t1 >= {{ app.cpe_init_rate.err }}  ? ERROR : (t1 >= {{ app.cpe_init_rate.warn }}  ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_chart_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Application: {{ app.name }}.

      Event: Number of incoming requests (RPS) to CPE reach threshold limit

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Unexpected increase of incoming traffic on CPE
      Description: Value of CPE inits has been exceeded the threshold. Error: {{ app.cpe_init_rate.err }}, warning: {{ app.cpe_init_rate.warn }}.
    state: {{ state }}


{% endif %}
{% endfor %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/cpe_triggers.tsv"
