---
{# TODO: Not checked. Draft version #}
moira_triggers:

## SMSC Queue

{% for service in services %}
  {% for app in service.apps %}
    {% if app.smsc_queue is defined %}
      {% for node in app.nodes %}

        - id: "{{ service.name }}.{{node}}.{{ app.name }}.BigQueue"
          name: "{{ service.name}}.{{ app.name }}: BigQueue"
          targets:
            - "aliasByTags(consolidateBy(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'Counter=STAT.COUNT', 'name=Queue'), 'max'), 'Counter')"
          expression: "t1 >= ({{app.smsc_queue.warn_length }}*1.5) ? : ERROR (t1 >= ({{app.smsc_queue.warn_length }}) ? WARN : OK)"
          ttl_state: {{ moira_general_ttl_state }}
          ttl: {{ moira_general_ttl }}
          tags: |
          {% if not app.app_critical|default(false) %}
            {{ ( [service.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}}
          {% else %}
            {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}}
          {% endif %}
          desc: |
            Service: {{ service.name }}.
            Application: {{ app.name }}.

            Event: Big Queue

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
            Impact: SMSC Queue is too big. It can lead to full offline of the SMS service.
            Description: SMSC queue is too big and exceeded the threshold. WARN: {{app.smsc_queue.warn_length }}, ERROR: {{app.smsc_queue.warn_length }}.
          state: {{ state }}

      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}


export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/smsc_triggers.tsv"
